@{
    ViewData["Title"] = "Home Page";
}
@model M_TV_Info.Models.HomeModel;
<div class="max-container">
    <img src="~/assets/HomeBanner.jpg" class="banner"/>
    <div class="items">
        <h2 class="border-bottom">Trending Movies</h2>
        <div id="TrendingMovies" class="carousel slide" data-ride="carousel" data-interval="false" style=" display: grid; grid-template-columns: 25px 200px 1fr 200px 25px; align-content: center;">
            <a class="carousel-control-prev" href="#TrendingMovies" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Prev</span>
            </a>
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <div id="col">
                        @* Trending Movies Active *@
                        @foreach (var item in Model.TrendingMovies.Take(6))
                        {
                            String path = "https://image.tmdb.org/t/p/original" + @item.poster_path;
                            <a asp-controller="Home" asp-action="MovieView"><img src=@path class="imagePosterCarousel" alt="@item.title"></a>
                        }
                    </div>
                </div>
                <div class="carousel-item">
                    <div id="col">
                        @* Trending Movies *@
                        @foreach (var item in Model.TrendingMovies.Skip(6).Take(6))
                        {
                            String path = "https://image.tmdb.org/t/p/original" + @item.poster_path;
                            <a asp-controller="Home" asp-action="MovieView"><img src=@path class="imagePosterCarousel" alt="@item.title"></a>
                        }
                    </div>
                </div>
                <div class="carousel-item">
                    <div id="col">
                        @* Trending Movies *@
                        @foreach (var item in Model.TrendingMovies.Skip(12).Take(6))
                        {
                            String path = "https://image.tmdb.org/t/p/original" + @item.poster_path;
                            <a asp-controller="Home" asp-action="MovieView"><img src=@path class="imagePosterCarousel" alt="@item.title"></a>
                        }
                    </div>
                </div>
            </div>
            <a class="carousel-control-next" href="#TrendingMovies" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="items">
        <h2 class="border-bottom">Trending Tv-Shows</h2>
        <div id="TrendingTv" class="carousel slide" data-ride="carousel" data-interval="false" style=" display: grid; grid-template-columns: 25px 200px 1fr 200px 25px; align-content: center;">
            <a class="carousel-control-prev" href="#TrendingTv" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Prev</span>
            </a>
            @* Trending Tv-Shows *@
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div id="col">
                    @* Trending TV-Shows *@
                    @foreach (var item in Model.TrendingTvShows.Take(6))
                    {
                        String path = "https://image.tmdb.org/t/p/original" + @item.poster_path;
                        <a asp-controller="Home" asp-action="MovieView"><img src=@path class="imagePosterCarousel" alt="@item.title"></a>
                    }
                </div>
            </div>
            <div class="carousel-item">
                <div id="col">
                    @* Trending TV-Shows *@
                    @foreach (var item in Model.TrendingTvShows.Skip(6).Take(6))
                    {
                        String path = "https://image.tmdb.org/t/p/original" + @item.poster_path;
                        <a asp-controller="Home" asp-action="MovieView"><img src=@path class="imagePosterCarousel" alt="@item.title"></a>
                    }
                </div>
            </div>
            <div class="carousel-item">
                <div id="col">
                    @* Trending TV-Shows *@
                    @foreach (var item in Model.TrendingTvShows.Skip(12).Take(6))
                    {
                        String path = "https://image.tmdb.org/t/p/original" + @item.poster_path;
                        <a asp-controller="Home" asp-action="MovieView"><img src=@path class="imagePosterCarousel" alt="@item.title"></a>
                    }
                </div>
            </div>
        </div>
            <a class="carousel-control-next" href="#TrendingTv" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="items">
        <h2 class="border-bottom">Upcoming Movies</h2>
        <div id="UpcomingMovies" class="carousel slide" data-ride="carousel" data-interval="false" style=" display: grid; grid-template-columns: 25px 200px 1fr 200px 25px; align-content: center;">
            <a class="carousel-control-prev" href="#UpcomingMovies" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Prev</span>
            </a>
            <div class="carousel-inner">
                @* Upcoming Movies *@
                <div class="carousel-item active">
                    <div id="col">
                        @* Upcoming Movies *@
                        @foreach (var item in Model.UpcomingMovies.Take(6))
                        {
                            String path = "https://image.tmdb.org/t/p/original" + @item.poster_path;
                            <a asp-controller="Home" asp-action="MovieView"><img src=@path class="imagePosterCarousel" alt="@item.title"></a>
                        }
                    </div>
                </div>
                <div class="carousel-item">
                    <div id="col">
                        @* Upcoming Movies *@
                        @foreach (var item in Model.UpcomingMovies.Skip(6).Take(6))
                        {
                            String path = "https://image.tmdb.org/t/p/original" + @item.poster_path;
                            <a asp-controller="Home" asp-action="MovieView"><img src=@path class="imagePosterCarousel" alt="@item.title"></a>
                        }
                    </div>
                </div>
                <div class="carousel-item">
                    <div id="col">
                        @* Upcoming Movies *@
                        @foreach (var item in Model.UpcomingMovies.Skip(12).Take(6))
                        {
                            String path = "https://image.tmdb.org/t/p/original" + @item.poster_path;
                            <a asp-controller="Home" asp-action="MovieView"><img src=@path class="imagePosterCarousel" alt="@item.title"></a>
                        }
                    </div>
                </div>
            </div>
            <a class="carousel-control-next" href="#UpcomingMovies" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>