@model M_TV_Info.Models.TMDbModels.MovieModel;
    <body>
        <div class="movie-container">
            <div class="btnPoster">
                @{
                    String path = "https://image.tmdb.org/t/p/original" + @Model.poster_path;
                }
                <img src=@path class="moviePoster" />
                <div class="add-buttons">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <img src="~/assets/addToFavoriteListButton.png" class="addFav" alt-="Add to your favorites">
                        <img src="~/assets/addToWatchlistButton.png" class="addWatch" alt="Add toy your watchlist">
                    }
                </div>
            </div>
            <div class="movie-dets">
                <div class="movieTop">
                    <p class="movieTitle">@Model.title</p>
                </div>
                <div class="synopsis">
                    @Model.overview
                </div>
                <div class="movieInfo">
                    <p>Release Date: @Model.release_date</p>
                    <p>Runtime: @Model.runtime</p>
                    <p>Production Companies: @Model.production_companies</p>
                    <p>
                        Genres:
                        @foreach (var item in Model.genres)
                        {
                            @item.name <span>&nbsp;</span>
                        }
                    </p>
                </div>
            </div>
        </div>
    </body>
