@model M_TV_Info.Models.TMDbModels.MovieModel;
@* Insert Data Using AJAX to Favorites / WatchList / Ratings  *@
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <script src="~/js/favorites.js"></script>
    <script src="~/js/watchlist.js"></script>
    <script src="~/js/ratings.js"></script>
    <script>
        $(document).ready( function(){

            // On load body
            $("#movie-body").load( function(){
                var _fav_icon   = "~/assets/favoriteListButton2.png";
                var _watch_icon = "~.assets/watchlistButton2.png";
                var _movie = $("#movie_id").val();
                // Check Fav
                $.ajax({
                    type: "POST", //HTTP POST Method
                    url: "/api/AjaxAPI/CheckFavourites", // Controller/View
                    dataType: "int",
                    data: _movie,
                    success: function(){
                        $("#addFav").attr("src", _fav_icon);
                    }
                });
                // Check Watch
                $.ajax({
                    type: "POST", //HTTP POST Method
                    url: "/api/AjaxAPI/CheckWatchList", // Controller/View
                    dataType: "int",
                    data: _movie,
                    success: function(){
                        $("#addWatch").attr("src", _watch_icon);
                    }
                });
            });
        });
    </script>
}
@{ String backDropPath = "https://image.tmdb.org/t/p/original" + @Model.backdrop_path; }
<script src="~/js/favorites.js"></script>
<body class="movieView" id="movie-body" style="--url:url(@backDropPath)">
    <div>
        <div id="movie-container">
            <div class="btnPoster">
                @{
                    String path = "https://image.tmdb.org/t/p/original" + @Model.poster_path;
                }
                <img src=@path class="moviePoster" />

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="add-buttons">
                        <input type="hidden" id="poster_path" value="@path">
                        <input type="hidden" id="movie_id" value="@Model.id">
                        <input type="hidden" id="movie_title" value="@Model.title">
                        <img src="~/assets/addToFavoriteListButton.png" id="addFav" class="addFav" alt-="Add to your favorites">
                        <img src="~/assets/addToWatchlistButton.png" id="addWatch" class="addWatch" alt="Add to your watchlist">
                    </div>
                    <div class="rateMedia">
                        <input type="radio" id="star5" name="rate" value="5" />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4" />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3" />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2" />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1" />
                        <label for="star1" title="text">1 star</label>
                    </div>
                }

            </div>
            <div class="movie-dets">
                <div class="movieTop">
                    <p class="movieTitle">@Model.title</p>
                </div>
                <div class="synopsis">
                    @Model.overview
                </div>
                <div class="movieInfo">
                    <p>Release Date: @Model.release_date</p>
                    <p>Runtime: @Model.runtime</p>
                    <p>Runtime: @Model.runtime m</p>
                    <p>
                        Production Companies:
                        @foreach (var item in Model.production_companies)
                        {
                @item.name <span>&nbsp;</span>}
                    </p>
                    <p>
                        Genres:
                        @foreach (var item in Model.genres)
                        {
                            @item.name <span>&nbsp;</span>
                        }
                    </p>
                </div>
            </div>
        </div>
     </div>
</body>
