@*@{
    ViewBag.Title = "Search";
}
@model M_TV_Info.Models.TMDbModels.SearchModel;
<link rel="stylesheet" href="~/css/site - Copy.css" />
@foreach (var item in Model.results)
{
    <p>@item.title</p>
}*@
@{
    ViewBag.Title = "Search";
}
@model M_TV_Info.Models.TMDbModels.SearchModel;
<body class="bg1">
    <div class="searchResultList">
        <h3 class="search">Search Results:</h3>
        @foreach (var item in Model.results)
        {
            String path = "https://image.tmdb.org/t/p/original" + @item.poster_path;
                <div class="searchResult">
                    <a asp-controller="Home" asp-action="MovieView" asp-route-id=@item.id class="aSearchPoster"><img src=@path alt="@item.original_title" class="searchPoster"></a>
                    <a asp-controller="Home" asp-action="MovieView" asp-route-id=@item.id  class="aSearchTitle"><h3 style="align-self: center;margin-left: 5px; color:#242038; font-size: 121%;">@item.original_title</h3></a>
                    <a asp-controller="Home" asp-action="MovieView" asp-route-id=@item.id class="aSearchButton"><img src="~/assets/MovieViewButton.png" width=50px height=50px id="movieView" class="movieViewButton" /></a>
                    <input type="hidden" id="fav_id" value="@item.id">
                </div>
        }
    </div>
</body>